 .line{
          background-color: blanchedalmond;
        }
        #new{
          font-family: cursive;
        }
        h1{
          background-color: rgba(169, 169, 169, 0.801);
        }
        .parent p{ color:chartreuse
        }
        p:hover{
            color: green;
            background-color: aquamarine;
        }
        .border{
            border: 2px solid black;
            padding-left: 50px;

        }